doctype html
html(lang='en')
  head
    title TODOapp
    link(rel='stylesheet', href='/static/main.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet")
  body 
    div.wrapper
      h1.logo TODOapp

      block number1